table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
	text-align: left; 
}

table{
	width: 100%;
}

#t2{
	margin-top: 35px;
}

#t2 td, #t2 th{
	text-align: center;
}